<f:comment><!--

    Grid demo

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:spaceless>
        <div class="FractalCols">
            <div class="FractalCols__frame">
                <div class="FractalCols__col">Col 1</div>
                <div class="FractalCols__col">Col 2</div>
                <div class="FractalCols__col">Col 3</div>
                <div class="FractalCols__col">Col 4</div>
                <div class="FractalCols__col">Col 5</div>
                <div class="FractalCols__col">Col 6</div>
            </div>
        </div>
        <div class="FractalCols__demo">
            <div class="grid">
                <div class="c1">c1</div>
                <div class="c5">c5</div>
            </div>
            <div class="grid">
                <div class="c2">c2</div>
                <div class="c4">c4</div>
            </div>
            <div class="grid">
                <div class="c3">c3</div>
                <div class="c3">c3</div>
            </div>
            <div class="grid">
                <div class="c2 xl">c2 xl</div>
                <div class="c2 xb">c2 xb</div>
                <div class="c2 xr">c2 xr</div>
            </div>
            <div class="grid">
                <div class="c1 xr s1">c1 xr s1</div>
                <div class="c2 xb s2">c2 xb s2</div>
            </div>
            <div class="grid">
                <div class="c3 xr">c3</div>
                <div class="c3 xl">c3</div>
            </div>
            <div class="grid">
                <div class="c3 small-c6">c3 small-c6</div>
            </div>
            <div class="grid">
                <div class="c6 xb small-c4 small-xn small-s1">c6 xb small-c4 small-xn small-s1</div>
            </div>
            <div class="grid">
                <div class="c3 s1 small-s0">c3 s1 small-s0</div>
                <div class="c2 small-s1">c2 small-s1</div>
            </div>
        </div>
    </f:spaceless>
</html>
