@add-mixin grid (small, medium, large), (var(--grid-gutter), var(--grid-gutter), var(--grid-gutter)), var(--grid-gutter--half), 6 {
    box-sizing: border-box;
    max-width: var(--grid-maxwidth);
    margin: auto;
    padding-left: var(--grid-gutter) !important;
    padding-right: var(--grid-gutter) !important;

    &:not(.grid--novgap) > * + * {
        margin-top: calc(2 * var(--grid-gutter));
    }

    @media (--bp-small--max) {
        padding-left: var(--grid-gutter--small) !important;
        padding-right: var(--grid-gutter--small) !important;

        &:not(.grid--novgap) > * + * {
            margin-top: calc(2 * var(--grid-gutter--small));
        }
    }
}
