[submodule "adoc2pdfua/scripts"]
	path = adoc2pdfua/scripts
	url = git@gitlab.tollwerk.net:tollwerk/adoc2pdfua.git
[submodule "adoc2pdfua/themes/tollwerk"]
	path = adoc2pdfua/themes/tollwerk
	url = git@gitlab.tollwerk.net:tollwerk/adoc2pdfua-tollwerk.git
