@critical {
	html {
		min-height: 100%;

		&.webfonts {
			font-family: var(--font-family);
		}
	}

	body {
		height: 100%;
		margin: 0;
		font-feature-settings: "lnum";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: var(--color-text--default);
	}

	body, input, textarea, select, button {
		font: var(--font-weight) var(--font-size--uno)/var(--line-height) var(--font-family--subset);

		.webfonts & {
			font-family: var(--font-family);
		}
	}

	input, textarea, select, button {
		/*display: inline-block;
		vertical-align: middle;*/
	}

	button > * {
		position: relative; /* Prevent shifting while active in IE */
	}

	main, aside, header, footer, figure {
		display: block;
	}

	picture {
		display: inline-block;
	}

	figure {
		margin: 0;
	}

	img,
	object,
	video,
	audio {
		max-width: 100%;
		height: auto;
	}

	iframe {
		max-width: 100%;
	}

	template {
		display: none;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
}
