@critical {
    html {
        --fluid-bp: calc((var(--fluid-screen) - (var(--fluid-min-width) * 1rem)) / (var(--fluid-max-width) - var(--fluid-min-width)));
        min-height: 100%;

        &.has-webfonts {
            font-family: var(--font-family);
        }
    }

    @media (--bp-xxxlarge--min) {
        html {
            --fluid-screen: calc(var(--fluid-max-width) * 1rem);
        }
    }

    body {
        height: 100%;
        margin: 0;
        font-feature-settings: "lnum" 1, "liga" 1, "dlig" 1, "calt" 1;
        color: var(--color-text--default);
        background-color: var(--bgcolor-body);
    }

    body, input, textarea, select, button {
        font: var(--font-weight) var(--font-size--uno)/var(--line-height) var(--font-family--subset);

        .has-webfonts & {
            font-family: var(--font-family);
        }
    }

    input, textarea, select, button {
        /*display: inline-block;
        vertical-align: middle;*/
    }

    button > * {
        position: relative; /* Prevent shifting while active in IE */
    }

    main, aside, header, footer, figure {
        display: block;
    }

    picture {
        display: inline-block;
    }

    figure {
        margin: 0;
    }

    img,
    object,
    video,
    audio {
        max-width: 100%;
        height: auto;
    }

    iframe {
        max-width: 100%;
    }

    template {
        display: none;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    [hidden] {
        display: none;
    }

    ::selection {
        color: var(--color-text--selection);
        background-color: var(--bgcolor-selection);
        text-decoration: underline;
    }
}
