:root {
	/* Grey */
	--color-grey--0: #FFFFFF;
	--color-grey--10: #E2E2E2;
	--color-grey--20: #C6C6C6;
	--color-grey--30: #ADADAD;
	--color-grey--40: #919191;
	--color-grey--50: #757575;
	--color-grey--60: #5E5E5E;
	--color-grey--70: #474747;
	--color-grey--80: #2D2D2D;
	--color-grey--90: #161616;
	--color-grey--100: #000000;
}
