<f:comment><!--

    Headings demo

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <main>
        <!-- Headings -->
        <section class="space-bottom" id="headings">
            <h1 class="Heading Heading--xx-large">Heading XX-Large</h1>
            <h2 class="Heading Heading--x-large">Heading X-Large</h2>
            <h2 class="Heading Heading--large">Heading Large</h2>
            <h2 class="Heading Heading--medium">Heading Medium</h2>
            <h3 class="Heading Heading--small">Heading Small</h3>
            <h3 class="Heading Heading--x-small">Heading X-Small</h3>
        </section>
    </main>
</html>
