<f:comment><!--

    Links demo

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <main>
        <!-- Bodytext links -->
        <section class="ContentElement space-bottom">
            <h1 class="Heading Heading--xx-large">Content Element Links</h1>
            <p>Im Kinderfall unserer Stadtgemeinde ist eine hierorts wohnhafte, noch unbeschulte Minderjährige
                aktenkundig, welche durch ihre unübliche Kopfbekleidung gewohnheitsrechtlich Rotkäppchen genannt zu
                werden pflegt.</p>

            <p>Der Mutter besagter R. wurde seitens ihrer Mutter ein Schreiben zustellig gemacht, in welchem dieselbe
                Nahrungsmittel und Genußmittel zu <a href="#">Genesungszwecken</a> zuzustellen. Vor ihrer Inmarschsetzung wurde die R.
                seitens ihrer Mutter über das Verbot betreffs Verlassen der Waldwege auf Kreisebene belehrt.</p>

            <p>Dieselbe machte sich infolge <a href="#">Nichtbeachtung dieser Vorschrift</a> straffällig und begegnete beim Übertreten
                des amtlichen Blumenpflückverbotes einem polizeilich nicht gemeldeten Wolf ohne festen Wohnsitz. Dieser
                verlangte in gesetzwidriger Amtsanmaßung Einsicht in das zu Transportzwecken von Konsumgütern dienende
                Korbbehältnis und traf in Tötungsabsicht die Feststellung, daß die R. zu ihrer verschwägerten und
                verwandten, im Baumbestand angemieteten Großmutter eilend war.</p>
        </section>
        <!-- Links -->
        <section class="space-bottom" id="special-links">
            <h1 class="Heading Heading--xx-large">Pathway Links</h1>
            <p><a href="#" class="pathway">Pathway link</a></p>
        </section>
    </main>
</html>
