<f:comment><!--

    Lists demo

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <main>
        <!-- Lists -->
        <section class="space-bottom" id="lists">
            <h2 class="Heading Heading--x-large">Definition lists</h2>
            <dl>
                <dt>Definition List Title</dt>
                <dd>This is a definition list division.</dd>
            </dl>
            <h2 class="Heading Heading--x-large">Ordered list</h2>
            <ol>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
            </ol>
            <h2 class="Heading Heading--x-large">Unordered lists</h2>
            <ul>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
            </ul>
            <h2 class="Heading Heading--x-large">Informal lists (<code>&lt;ul/ol class="informal"&gt;</ul></code>)</h2>
            <ul class="informal">
                <li>Informal List Item 1</li>
                <li>Informal List Item 2</li>
                <li>Informal List Item 3</li>
            </ul>
        </section>
    </main>
</html>
