<f:comment><!--

    Typographic scale demo

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <main>
        <!-- Typographic scale -->
        <section class="space-bottom" id="typographic-scale">
            <table class="typographic-scale">
                <caption>
                    <div class="base-font-size">Base font size:</div>
                    <div class="typographic-scale-factor">Typographic scale factor:</div>
                </caption>
                <tr>
                    <td class="fs--micro">a</td>
                    <td class="fs--uno">a</td>
                    <td class="fs--kilo">a</td>
                    <td class="fs--mega">a</td>
                    <td class="fs--giga">a</td>
                    <td class="fs--tera">a</td>
                </tr>
                <tr>
                    <th>micro</th>
                    <th>uno</th>
                    <th>kilo</th>
                    <th>mega</th>
                    <th>giga</th>
                    <th>tera</th>
                </tr>
            </table>
        </section>
    </main>
</html>
