<f:comment><!--

    No parameters

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <h2 class="Heading Heading--x-large">CSS Classes</h2>
    <dl>
        <dt><code>frame</code></dt>
        <dd>The <code>frame</code> class restricts the width of an element to the global maximum width, gives it an
            automatic horizontal padding and centers it into the viewport.
        </dd>
        <dt><code>informal</code></dt>
        <dd>Use the <code>informal</code> CSS class to remove the user agent styling from an element.
            <ul>
                <li>Removes bullet points, numbering, margin and padding from ordered (<code>&lt;ol&gt;</code>) and
                    unordered (<code>&lt;ul&gt;</code>)
                    lists.
                </li>
            </ul>
        </dd>
        <dt><code>hide-element</code></dt>
        <dd>Use this class to visually hide an element. The element will stay visible for assistive technology.</dd>
        <dt><code>hide-content</code></dt>
        <dd>Use this class in combination with a fixed width to visually hide the content of an element. The element
            itself will stay visible (also for assistive technology), but its contents will be shifted beyond the
            element boundaries.
        </dd>
    </dl>
</html>
