<f:comment><!--

    Example custom content element

    @param array data
        @param int header_layout            Heading level
        @param int tx_twbase_heading_type   Visual heading type
        @param string header                Heading text
        @param string header_position       Additional heading classes
        @param string header_link           Link
        @param string bodytext              Text

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">

</html>
