*
!/.editorconfig
!/.env.example
!/.eslint*
!/.gitattributes
!/.githooks
!/.githooks/**
!/.gitignore
!/.gitmodules
!/.gitlab-ci.yml
!/.idea
!/.idea/fileTemplates
!/.idea/fileTemplates/**
!/.stylelintrc.json
!/composer.json
!/composer.lock
!/dev
!/dev/**
!/fractal.config.js
!/package.json
!/package-lock.json
!/gulpfile.js
!/phpcs.xml
!/phpmd.xml
!/phpunit.*

!/config
!/config/**
!/docs
!/docs/**
!/gulp-tasks
!/gulp-tasks/**
!/public
!/public/.htaccess
!/public/favicon.ico
!/public/fileadmin
!/public/robots.txt
!/public/typo3conf/
!/public/typo3conf/ext/
!/public/typo3conf/AdditionalConfiguration.php

/public/typo3conf/ext/*
!/public/typo3conf/ext/EXTENSION_KEY_SC
!/public/typo3conf/ext/EXTENSION_KEY_SC/**
/public/typo3conf/ext/EXTENSION_KEY_SC/Resources/Public/Graphics
/public/typo3conf/ext/EXTENSION_KEY_SC/Resources/Public/**/*.min.css
/public/typo3conf/ext/EXTENSION_KEY_SC/Resources/Public/**/*.min.js
/public/typo3conf/ext/EXTENSION_KEY_SC/Resources/Public/*.min.css
/public/typo3conf/ext/EXTENSION_KEY_SC/Resources/Public/*.min.js
/public/typo3conf/ext/EXTENSION_KEY_SC/Resources/Public/*.min.css.map
/public/typo3conf/ext/EXTENSION_KEY_SC/Resources/Public/*.min.js.map
